
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;
$navbar-inverse-bg: #246;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Policy
$policy-section-bg: rgba(225,225,225,.35);

// Ratings Colors
$color-plus-5: rgb(250,0,0); 
$color-plus-4: rgb(250,50,50); 
$color-plus-3: rgb(225,75,75); 
$color-plus-2: rgb(200,100,100); 
$color-plus-1: rgb(175,125,125); 
$color-neutral-0: rgb(150,150,150); 
$color-minus-1: rgb(125,125,175); 
$color-minus-2: rgb(100,100,200); 
$color-minus-3: rgb(75,75,225); 
$color-minus-4: rgb(50,50,250); 
$color-minus-5: rgb(0,0,250); 

$color-support-2: rgb(0,200,0);
$color-support-1: rgb(100,200,100);
$color-not-support-1: rgb(200,100,100);
$color-not-support-2: rgb(200,0,0);

$color-selected: rgb(102,136,244);
$color-not-selected: rgb(200,200,200);
