
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #246;
$brand-info: #3097D1;
$brand-success: #1fc31f;
$brand-warning: #f6a802;
$brand-danger: #c80000;

// States
$state-success-text:             $brand-success !default;
$state-success-bg:               lighten(desaturate($brand-success,10%),40%) !default;
$state-success-border:           $state-success-bg !default;

$state-info-text:                $brand-info !default;
$state-info-bg:                  lighten(desaturate($brand-info,10%),40%) !default;
$state-info-border:              $state-info-bg !default;

$state-warning-text:             $brand-warning !default;
$state-warning-bg:               lighten(desaturate($brand-warning,10%),40%) !default;
$state-warning-border:           $state-warning-bg !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                lighten(desaturate($brand-danger,10%),40%) !default;
$state-danger-border:            $state-danger-bg !default;

// Wells
$well-bg: #EEE;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: Arial, "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #444444;
$link-color: lighten($brand-primary,20%) !default;
$link-hover-color: darken($link-color, 10%) !default;

// Navbar
$navbar-default-bg: #fff;
$navbar-inverse-bg: #246;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Policy
$policy-section-bg: rgba(90,90,90,.06);

// Ratings Colors
$color-plus-5: rgb(255,0,0); 
$color-plus-4: desaturate($color-plus-5,21%); 
$color-plus-3: desaturate($color-plus-5,42%); 
$color-plus-2: desaturate($color-plus-5,63%); 
$color-plus-1: desaturate($color-plus-5,84%); 
$color-neutral-0: desaturate($color-plus-5,100%); 
$color-minus-5: rgb(0,0,255); 
$color-minus-4: desaturate($color-minus-5,21%); 
$color-minus-3: desaturate($color-minus-5,42%); 
$color-minus-2: desaturate($color-minus-5,63%); 
$color-minus-1: desaturate($color-minus-5,84%); 

$color-support-2: rgb(0,200,0);
$color-support-1: lighten(desaturate($color-support-2,70%),30%);
$color-not-support-2: rgb(200,0,0);
$color-not-support-1: lighten(desaturate($color-not-support-2,70%),30%);

$color-selected: rgb(102,136,244);
$color-not-selected: rgb(180,180,180);
$color-calculated: rgb(225,175,50);
