h1,h2,h3,h4{
	font-family: 'Oswald', sans-serif;
	small{font-family: Arial, sans-serif;}
}
.navbar-brand{
	font-family: 'Oswald', sans-serif;
	color:#FFF !important;
	font-size:20px;
	text-transform:uppercase;
}

.policy-well{
	min-height: 225px; 
	position: relative;
	.details_section{
		height:90px; overflow:hidden;
		.short_synopsis{margin:0; padding:0 0 4px; line-height: 1.3em; font-size:.9em; font-style:italic;}
		.title{font-family: 'Oswald', sans-serif; font-size:16px;}
	}
	.btn-view-more{position: absolute; right:10px; bottom:10px;}
	.policy-rating{position:absolute; left:10px; bottom:10px;}
	&.rfp-well{background-color:darken($well-bg,4%);}
}
.policy-title{margin-top:-36px; font-size:3em; padding-bottom:10px;}
.policy-rating{
	font-size:12px;
	color:#FFF;
	padding:1px 10px;
	border-radius:3px;
}
.rating-1{color:$color-not-support-1;font-size:14px;}
.rating-2{color:$color-not-support-2;font-size:16px;}
.rating1{color:$color-support-1;font-size:14px;}
.rating2{color:$color-support-2;font-size:16px;}
.rating-box{
	padding:0;
	.rating-thumb{margin: 0 2px;}
	.rating-thumb.not-selected{color:$color-not-selected;}
	.rating-thumb.selected{color:$color-selected;}
	.rating-thumb.calculated{color:$color-calculated;}
	.rating-thumb:hover{color:darken($color-not-selected,25%);}
	.rating-thumb:focus{color:$color-selected;}
}
.section-container{
	margin-top:3px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:8px;
	margin-left:-8px;
	border-left:8px solid $color-neutral-0;
	&.rating_5{border-left-color:$color-plus-5;}
	&.rating_4{border-left-color:$color-plus-4;}
	&.rating_3{border-left-color:$color-plus-3;}
	&.rating_2{border-left-color:$color-plus-2;}
	&.rating_1{border-left-color:$color-plus-1;}
	&.rating_0{border-left-color:$color-neutral-0;}
	&.rating_-1{border-left-color:$color-minus-1;}
	&.rating_-2{border-left-color:$color-minus-2;}
	&.rating_-3{border-left-color:$color-minus-3;}
	&.rating_-4{border-left-color:$color-minus-4;}
	&.rating_-5{border-left-color:$color-minus-5;}
	&:hover{background:$policy-section-bg;}
	.policy-section{
		p{margin:0;}
		min-height:32px;
		.rating-box{
			display:none; 
			vertical-align:middle;
			&.rating-calculated{display:block;}
		}
		&:hover{
			.rating-box{display:block;}
		}
	}
}

.setting-rating{
	padding:6px 3px;
	box-sizing:border-box;
	height:36px;
	min-width:52px;
	font-size:10px; 
	border-top:4px solid $well-bg;
	border-bottom:4px solid $well-bg;
	text-align:center;
	display:inline-block;
	color:#FFF;
	float:left;
	margin-right:1px;
	&.selected{border-color:#000;}
	&:hover{border-color:#222;color:#FFF;text-decoration:none;}
	&:first-of-type{width:66px;}
	&:last-of-type{width:66px;}
}

.policy-rating, .setting-rating{
	&.rating_5{background-color:$color-plus-5;}
	&.rating_4{background-color:$color-plus-4;}
	&.rating_3{background-color:$color-plus-3;}
	&.rating_2{background-color:$color-plus-2;}
	&.rating_1{background-color:$color-plus-1;}
	&.rating_0{background-color:$color-neutral-0;}
	&.rating_-1{background-color:$color-minus-1;}
	&.rating_-2{background-color:$color-minus-2;}
	&.rating_-3{background-color:$color-minus-3;}
	&.rating_-4{background-color:$color-minus-4;}
	&.rating_-5{background-color:$color-minus-5;}	
}